#contact
  .container-fluid
    .row
      .col-lg-12.text-center
        h2.section-heading.slogan Contact us
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        form#contactForm(name="sentMessage",novalidate="")
          .row
            .col-xs-12
              .form-group
                input#name.form-control(type="text",placeholder="Name",required="",data-validation-required-message="Please enter your name",aria-invalid="false")
                p.help-block.text-danger
              .form-group
                input#email.form-control(type="email",placeholder="Email",required="",data-validation-required-message="Please enter your email",aria-invalid="false")
                p.help-block.text-danger
              .form-group
                textarea#message.form-control(placeholder="Message",required="",data-validation-required-message="Please write your message")
                p.help-block.text-danger
            .clearfix
            .col-xs-12.text-center
              #success
              button.btn.btn-lg.btn-block.btn-success(type="submit") Send
